.logo-tesla {
    height:40px;
}
.background {
    background-image: url("../assets/images/nk-mineirao.jpg");
    height: 3000px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    opacity: .7;
    background: #000;
}

.center-content {
    position:relative;
    top: 250px;
}

.background h1,h4{
    color: white;
}

.upload-btn:hover{
    border-color: white !important;
    
}

.upload-btn:focus{
    box-shadow: 0 0 0 0.2rem white;
}

.hidePage {
    display: none;
    position: relative;
}

.set-eighty-width {
    width: 100%;
}

.tab-content {
    padding: 15px;
    background-color: #0d0d0d;
    /*max-height: 800px;
    overflow-x: scroll;*/
}

.Select--multi .Select-value {
    background-color: #ebf5ff;
    background-color: #76D36C;
    border-radius: 2px;
    border: 1px solid #c2e0ff;
    border: 1px solid black;
    color: black;
    display: inline-block;
    font-size: .9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
}

.Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    border-right: 1px solid black;
    padding: 1px 5px 3px;
}

.form-plot-config {
    background-color: white;
    width: 100%;
}

.form-title {
    background-color: #4ed840;
    padding: 0.01em 16px;
}

.form-title h1 {
    font-weight: 450;
    font-size: 1.5rem;
    margin-top: .5rem;
}

.container-form {
    padding: 0.01em 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.row-drop {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.form-label {
    margin: 10px 0px 4px 0px;
    color: black;
    font-weight: 350;
    font-size: 1.2rem;
}

.lateral-content {
    width: calc(25% - 15px);
    margin-left: 15px;
    display: inline-block;
}

.hiden {
    display: none;
}

.modal-content {
    border:none;
}

.modal-open-button-style {
    margin: 16px
}

.modal-header-and-footer {
    background-color: #0d0d0d;
    color: ghostwhite;
    text-align: center;
}

.tesla-button {
    background-color: darkgreen;
    color:white;
    border-color:#0d0d0d;
}

.tesla-button:hover {
    background-color: white;
    color:black;
}

.dropdown-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.divider {
    height: 0;
    border-top: 1px solid #6c757d;
    margin: 10px 0;
}

.adv-config-subtitle {
    color: black;
    font-weight: 400;
    margin-top: 8px;
    font-size: 1.3rem;
    text-decoration: underline;
    margin: 10px 0;
}

.config-page {
    background-color: white;
    width: 100%;
}

.config-title {
    background-color: #4ed840;
    padding: 0.01em 16px;
}

.config-title h1 {
    font-weight: 450;
    font-size: 1.5rem;
    margin-top: .5rem;
}

.divisão-content {
    padding: 0.01em 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.divisao-sub-content {
    padding-left: 2.35rem;
}

.checklist-selected {
    padding-left: 1.5rem;
}

